.idea/
*.iml
*.log
target/
.settings
.metadata/
.cache
.classpath
.classpath.txt
.project
*.class
*.classpath
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
